mixin command(command)
    div(class="card text-center command" v-if=`isTrue('${command.name}', '${command.category}')` command=command.name)
        div(class="card-header") #{command.name}
        div(class="card-body")
            h5(class="card-title") Command: #{command.name}
            label(class="card-text") Category: #{command.category}
            br
            label(class="card-text") Usage: #{command.usage}